body {
  background-color: silver;
  margin: 10px;
}
button {
  background-color: peachpuff;
  display: inline-block;
  overflow: inherit;
}
p {
  line-height: 40px;
  display: block;
}
button.cards {
  position: center;
  margin: 10px;
  height: 40px;
  width: 66px;
  border: 2px solid black;
  padding: 5px;
  font-size: 12px;
}
#player1 {
  border: 5px solid greenyellow;
  position: absolute;
  bottom: 10%;
  left: 10%;
}
#player3 {
  border: 5px solid red;
  position: absolute;
  top: 5%;
  left: 10%;
}
#player3 button {
  color: peachpuff;
}
#player2 {
  border: 5px solid purple;
  position: absolute;
  top: 29%;
  left: 5%;
  width: 27%;
}
#player2 button {
  color: peachpuff;
}
#player4 {
  border: 5px solid orange;
  position: absolute;
  top: 29%;
  right: 5%;
  width: 27%;
}
#player4 button {
  color: peachpuff;
}
#playCard {
  position: absolute;
  top: 22%;
  left: 44%;
  border: 2px solid black;
  max-width: 10%;
}
