

span{
    background-color: peachpuff;
    display: inline-block;
    overflow: inherit;
    
    
}
p{
    
    line-height: 40px;
    display: block;
}
span.cards {
    position: center;
    margin: 10px;
    height: 40px;
    width: 66px;
    border: 2px solid black;
    padding: 5px

}
#player1, #player3{ 
    border: 5px chartreuse solid;
}
#player2, #player4{ 
    border: 5px purple solid;
}
button {
    padding: 15px;

}
/* #player1{
    position: relative;
    top: 520px;
}
#player2{
    position: relative;
    
}
#playcard{
    width: 60vw;
    height: 60vw;
    max-width: 70vh;
    max-height: 70vh;
    display: grid;
    /* margin-top: -10vh; 
} 
*/